.user-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 70%;

  margin-bottom: 1rem;
}

.user-input label {
  font-size: 1rem;
  font-weight: 500;
}

.user-input input {
  font-size: 1rem;
  font-family: Merriweather, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  padding: 0.5rem 0.5rem;

  width: 100%;

  border: 1px solid #eee;
  border-radius: 4px;
}

.user-input input:focus {
  outline: none;
  box-shadow: 0 0 0 4px #74c0fc inset;
}
