/* 
COLORS:
Main Color: #1971c2
Tints: #339af0, #74c0fc
Shaedes: #1864ab
Whites: #eee
Blacks:

FONTS:
Button: 1.2rem
Input: 1rem

SHADOW: 4px 8px
BORDER: 1px
BORDER RADIUS: 4px 8px
PADDING, MARGIN: 0.5rem, 1rem

*/

/* Fonts: Merriweather(Serif) & Montserrat(Sans-Serif) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1rem;
}

a:visited,
a:link {
  text-decoration: none;
  color: #364fc7;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: #242424;
}

.btn {
  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #364fc7;
  color: #fff;
  padding: 0.5rem 1.5rem;

  border: 0;
  border-radius: 4px;

  cursor: pointer;
  transition: 200ms all;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 3rem;
  object-fit: cover;
}

header h1 {
  margin-left: 1rem;
  font-size: 3rem;
}

.box {
  width: 90%;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  margin: 3rem auto;

  border: 1px solid #eee;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
}

.box-btn {
  background: linear-gradient(#364fc7, #3b5bdb);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  transition: all 300ms;
}

.box-btn:hover {
  background: linear-gradient(#4263eb, #4c6ef5);
}
